<h3>Story Detail</h3>

  <form *ngIf="story"><!-- wait for story using *ngIF -->
    <div class="form-group">
      <label>Title</label>
      <input type="text" class="form-control" placeholder="Title" name="title" [(ngModel)]="story.title">
    </div>

    <table class="table table-hover" *ngIf="posts">
      <caption>Posts</caption>
      <thead>
        <tr>
          <th>#</th>
          <th>
            <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
            Created
          </th>
          <th>Title</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let post of posts; let i = index" (click)="editPost(post._id)">
          <th scope="row">{{ i + 1 }}</th>
          <td>{{ post.createdAt | date: "dd.MM.yyyy hh:mm" }}</td>
          <td>{{ post.title }}</td>
          <td>
            <span class="label label-default" *ngIf="!post.published">Draft</span>
            <span class="label label-success" *ngIf="post.published">Published</span>
          </td>
        </tr>
      </tbody>
    </table>

  <!--<button type="submit" class="btn btn-default" (click)="save()">Save</button>-->
  <button class="btn btn-default" (click)="openNewPost()">new post</button>
</form>