<h4 id="chapter-comments">Kommentare</h4>

<!-- comments -->
<div *ngFor="let comment of comments">
  <span class="comment-text">{{ comment.text }}</span>
  <!-- <i class="fa fa-trash" aria-hidden="true" (click)="onDelete(comment)"></i> -->
  <p>
    <span class="comment-user">{{ comment.username }}</span>
    <span class="comment-timespan">{{ comment.createdAt | date: "dd. MMM yyyy HH:mm" }}</span>
  </p>
</div>

<!-- new comment -->
<textarea class="form-control" rows="3" cols="40" placeholder="Kommentar schreiben..." [(ngModel)]="newComment.text"></textarea>

<button type="button" class="btn btn-default" [disabled]="!newComment.text || lock" (click)="create()">Send</button>
