<h3>Dashboard</h3>

<!-- show posts -->
<table class="table table-hover" *ngIf="posts">
  <caption>Posts</caption>
  <thead>
    <tr>
      <th>#</th>
      <th>
        <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
        Created
      </th>
      <th>Title</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let post of posts; let i = index" (click)="editPost(post._id)">
      <th scope="row">{{ i + 1 }}</th>
      <td>{{ post.createdAt | date: "dd.MM.yyyy hh:mm" }}</td>
      <td>{{ post.title }}</td>
      <td>
        <span class="label label-default" *ngIf="!post.published">Draft</span>
        <span class="label label-success" *ngIf="post.published">Published</span>
      </td>
    </tr>
  </tbody>
</table>

<!--<button type="submit" class="btn btn-default" (click)="save()">Save</button>-->
<button class="btn btn-default" (click)="openNewPost()">new post</button>

<!-- show users -->
<table class="table table-hover">
  <caption>Users</caption>
  <thead>
    <tr>
      <th>#</th>
      <th>Username</th>
      <th><span class="glyphicon glyphicon-heart" aria-hidden="true"></span> Likes</th>
      <th><span class="glyphicon glyphicon-comment" aria-hidden="true"></span> Comments</th>
      <th>Role</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users; let i = index" class="story" (click)="openUserDetails(user._id)">
      <th scope="row">{{ i + 1 }}</th>
      <td>{{ user.username }}</td>
      <td>{{ user.likes }}</td>
      <td>{{ user.comments }}</td>
      <td>
        <span class="label" [class.label-danger]="user.role === 'admin'" [class.label-primary]="user.role === 'family'" [class.label-default]="user.role === 'friend'">
          {{ user.role }}
        </span>
      </td>
    </tr>
  </tbody>
</table>

<!-- create new user -->
<a [routerLink]="['/admin/new-user']">New user</a>
