@import url('https://fonts.googleapis.com/css?family=Lato:400,700|Open+Sans');

h3 {
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  margin-bottom: 50px;
}

p {
  font-family: 'Open Sans', sans-serif;
  font-size: medium;
  line-height: 1.5;
}

:host >>> span.reference {
  cursor: pointer;
  color: blue;
  font-weight: bold;
}

.post {
  padding-top: 10px;
  padding-left: 25px;
  padding-bottom: 15px;
  padding-right: 20px;
}
