<div class="container-fluid">
  <div class="row">

    <div id="map-panel" class="col-md-7 hidden-sm hidden-xs">
      <div id="map" (window:resize)="onMapResize($event)" [style.height]="mapHeight"></div>
    </div>

    <div id="side-panel" class="col-md-5 pull-right">
      <div *ngIf="!selectedPost">
        <app-panel *ngFor="let post of posts | orderBy: ['publishedAt']" [post]="post" (panelClick)="showPost($event)"></app-panel>
      </div>

      <div *ngIf="selectedPost">
        <button class="btn btn-link" (click)="showOverview()">
          <i class="fa fa-caret-left" aria-hidden="true"></i>
          Übersicht
        </button>
        <app-post [post]="selectedPost"></app-post>
      </div>
    </div>

  </div>
</div>
