@import url("https://fonts.googleapis.com/css?family=Londrina+Shadow|Londrina+Outline|Londrina+Sketch|Lato:400,700|Vollkorn:400,700,700i|Fredericka+the+Great|Open+Sans|Shrikhand|Roboto:400,500,700,900");

.container-fluid {
  /* reset bootstrap */
  padding: 0;
  margin: 0;
}

.row {
  /* reset bootstrap margin */
  padding: 0;
  margin: 0;
}

#map-panel {
  padding: 0; /* reset bootstrap padding */
  border-right: 1px solid darkgray;
  position: fixed;
}

#map {
  height: 100vh;
}

#side-panel {
  padding: 0;
}

i.fa-map-marker {
  /*color: rgb(40, 130, 200);*/
}

button.btn-link {
  margin-bottom: 85px;
  padding-left: 5px;
}
