@import url('https://fonts.googleapis.com/css?family=Lato|Londrina+Shadow|Open+Sans');

h2 {
  font-family: 'Londrina Solid', sans-serif;
  text-transform: uppercase;
}

#map {
  height: 600px;
  min-height: 600px;
  display: block;
}

#overview {
  overflow: scroll;
  height: 600px;
}

#post {
  overflow: scroll;
  height: 600px;
}

.post-panel {
  cursor: pointer;
  border: 1px solid black;
  padding: 10px;
  margin-bottom: 5px;
  font-size: 18px;
}

.selected {
  background-color: DarkTurquoise;
}

/* Portrait */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {



}
