<div class="container-fluid">
  <div class="row">

    <!-- map -->
    <div id="map-panel" class="col-md-7">
      <div id="map" (window:resize)="onMapResize($event)" [style.height]="mapHeight"></div>
    </div>

    <!-- post overview -->
    <div id="overview" class="col-md-5" *ngIf="!selectedPost">
      <div class="post-panel" *ngFor="let post of posts | orderBy: ['updatedAt']" (click)="showPost(post)" [class.selected]="hoveredPostID === post._id"  [style.background-image]="getImage(post)">
        {{ post.title }}
        <p class="subtitle">

          <i class="fa fa-map-marker" aria-hidden="true"></i>
          {{ post.subtitle }}

          <span class="date">
            <i class="fa fa-calendar" aria-hidden="true"></i>
            <span>{{ post.publishedAt | date: "dd. MMM yyyy"}}</span>
          </span>

        </p>
      </div>

      <button class="btn btn-default btn-sm" *ngIf="hasAccess()" (click)="onDashboardClick()">Dashboard</button>
      <button class="btn btn-default btn-sm" (click)="onLogoutClick()">Logout</button>

    </div>

    <!-- post -->
    <div id="post" class="col-md-5" *ngIf="selectedPost">

      <button class="btn btn-link" (click)="showOverview()">
        <i class="fa fa-caret-left" aria-hidden="true"></i>
        Übersicht
      </button>

      <app-post [post]="selectedPost"></app-post>
    </div>

  </div>
</div>
