<div class="container-fluid">
  <div class="row">

    <!-- map -->
    <div id="map-panel" class="col-md-7 visible-md-block visible-lg-block">
      <div id="map"></div>
    </div>

    <!-- post overview -->
    <div id="overview" class="col-md-5" *ngIf="!selectedPost">

      <div class="post-panel" *ngFor="let post of posts | orderBy: ['updatedAt']" (click)="showPost(post)" [class.selected]="hoveredPostID === post._id">
        {{ post.title }}
        <span class="date">{{ post.publishedAt | date: "dd. MMM yyyy"}}</span>
        <p class="subtitle">
          <img class="marker" src="https://unpkg.com/leaflet@1.0.1/dist/images/marker-icon.png" />
          {{ post.subtitle }}
        </p>
        <!-- <span class="badge">neu</span> -->
      </div>

    </div>

    <!-- post -->
    <div id="post" class="col-md-5" *ngIf="selectedPost">

      <button class="btn btn-link" (click)="showOverview()">
        <i class="fa fa-caret-left" aria-hidden="true"></i>
        Übersicht
      </button>

      <app-post [post]="selectedPost"></app-post>
    </div>

  </div>

</div>
